.bottomBar {
  background: rgb(0, 0, 0);
  padding-bottom: 6rem;
  width: 100%;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.bottomContent,
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  padding-top: 3rem;
  /* margin: 8rem 11.2rem auto; */
  background-color: #0e0d0d;
  border: 2px solid #16105e;
  padding: 4rem 1.5rem;
  border-radius: 17px;
  margin-bottom: 4rem;
}

.bottomContent div li {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 2.2rem;
  letter-spacing: -0.001rem;
  padding-right: 3.2rem;
  transition: color 0.3s ease-in-out;
  text-transform: capitalize;
}
.bottomContent div li:hover {
  color: #656496;
}
.bottomContent div:nth-of-type(3) li {
  color: inherit;
}
.bottomContent div h3 {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 3.2rem;
  letter-spacing: -0.001rem;
  padding-right: 3.2rem;
  text-transform: uppercase;
}

.social {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  border-color: transparent;
  margin-bottom: 0rem;
}

.socialMedia {
  display: flex;
  height: 100%;
  display: flex;
  align-items: flex-end;
  color: white;
}

.socialMedia div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #16105e;
  margin-right: 1rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.socialMedia div:hover {
  background-color: #656496;
}

.awards {
  display: flex;
}
.awards div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 3rem;
  height: 3rem; */
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}

.copyright {
  color: #656496;
  font-size: 0.9rem;
  line-height: 2.2rem;
  letter-spacing: -0.001rem;
  padding-right: 3.2rem;
  text-transform: capitalize;
  text-align: end;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .bottomContent {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }

  .socialMedia {
    padding-bottom: 1.5rem;
  }
  .bottomContent div {
    padding-bottom: 1rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .social {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .socialMedia,
  .awards {
    justify-content: center;
  }
  .copyright {
    text-align: center;
  }
}
