@tailwind base;
@tailwind components;
@tailwind utilities;

/* .logo {
  width: 200px;
  padding: 0.5rem 0.3rem;
} */
.mainNavLinks svg {
  transition: all 0.3s ease-in-out;
}
.mainNavLinks:hover svg {
  transform: rotate(180deg);
}

@layer components {
  .navContent {
    @apply max-w-screen-2xl mx-auto flex items-center;
  }

  .mainNavLinks {
    @apply flex items-end justify-center mx-3 pr-2 font-bold pb-2 text-primarymedium cursor-pointer relative;
  }
  .mainNavLinksIcon {
    @apply absolute -right-1.5  text-xs bottom-3 font-extrabold;
  }

  .subNav {
    @apply bg-slate-100 text-gray-600  px-6;
  }
  .mainNav {
    @apply bg-primayColor text-gray-300 py-4 px-6;
  }
  .navbarLinks {
    @apply px-2 flex text-sm;
  }
}
