@tailwind base;
@tailwind components;
@tailwind utilities;

/* .logo {
  width: 200px;
  padding: 0.5rem 0.3rem;
} */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: #787a7c transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #787a7c;
  border-radius: 10px;
  border: 0px solid transparent;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 16px !important;
}

.slider {
  height: 75vh;
}

@media (max-width: 991.98px) {
  .openNavLinkMenu.active {
    background-color: rgba(23, 16, 94, 0.135);
  }
  .openNavLinkMenu.active ul {
    display: grid;
    animation: slideInLeft 0.3s ease-in-out forwards;
  }
  .openNavLinkMenu.active > a svg {
    transform: rotate(180deg);
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-5%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

@media (max-width: 767.98px) {
}

@layer components {
  .navContent {
    @apply max-w-screen-2xl mx-auto flex items-end !relative;
  }
  .customwidth {
    @apply max-w-screen-2xl mx-auto;
  }

  .microcadBtn {
    @apply bg-primarymedium hover:bg-primayColor text-gray-300  px-6 py-2 rounded-xl text-base font-bold cursor-pointer ease-in-out duration-300;
  }

  .mainNavLinks {
    @apply text-primarymedium hover:bg-secondaryMedium hover:text-light-2 focus:shadow-violet7  flex select-none items-center justify-between gap-[2px] mb-1 rounded-[4px] px-3 py-2 text-[15px] leading-none outline-none focus:shadow-[0_0_0_2px] font-bold capitalize;
  }

  .subNav {
    @apply bg-slate-100 text-gray-600;
  }
  .mainNav {
    @apply bg-primayColor text-gray-300 py-4 px-6;
  }
  .navbarLinks {
    @apply px-2 flex text-xs font-bold hover:text-secondaryColor transition-all;
  }
  .slider {
    @apply bg-primayColor text-gray-300 relative;
  }
}
