@tailwind base;
@tailwind components;
@tailwind utilities;

/* .logo {
  width: 200px;
  padding: 0.5rem 0.3rem;
} */

.leftMenuOpener {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 49;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.leftMenuContent {
  position: relative;
  height: 100%;
  padding-top: 0.8rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  overflow: hidden;
  height: 50px;
}

.brulMenu {
  content: "";
  height: 124%;
  width: 100%;
  left: 0;
  top: -4px;
  background-color: #f1f5f9f2;
  position: absolute;
  filter: blur(3px);
  z-index: 1;
  padding: 0rem;
}

.leftMenuInner {
  display: flex;
  position: absolute;
  z-index: 2;
}

.leftMenuInner button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #4c4987;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.leftMenuInner button:hover {
  color: #16105e;
}

.leftMenuInner button svg {
  margin-left: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.leftMenuInner button:hover svg {
  margin-left: 0.5rem;
}

.slider {
  height: 75vh;
}

@media (max-width: 991.98px) {
  .openNavLinkMenu.active {
    background-color: rgba(23, 16, 94, 0.135);
  }
  .openNavLinkMenu.active ul {
    display: grid;
    animation: slideInLeft 0.3s ease-in-out forwards;
  }
  .openNavLinkMenu.active > a svg {
    transform: rotate(180deg);
  }
  @keyframes slideInLeft {
    from {
      transform: translateX(-5%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  #leftMenu {
    top: -500%;
  }
  #leftMenu ul {
    width: 100%;
    max-width: 300px;
  }
  #leftMenu.active {
    padding-top: 3rem;
    top: 0;
    margin-top: 165px;
    width: 100%;
    height: calc(100vh + 165px);
    max-height: calc(100vh - 165px);
    position: fixed;
    z-index: 49;
    background-color: #dbdee1;
  }
  .leftMenuOpener {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .leftMenuOpener {
    top: 64px;
  }
  #leftMenu.active {
    margin-top: 114px;
    height: calc(100vh + 114px);
    max-height: calc(100vh - 114px);
  }
}

@layer components {
  .navContent {
    @apply max-w-screen-2xl mx-auto flex items-end !relative;
  }
  .customwidth {
    @apply max-w-screen-2xl mx-auto;
  }

  .microcadBtn {
    @apply bg-primarymedium hover:bg-primayColor text-gray-300  px-6 py-2 rounded-xl text-base font-bold cursor-pointer ease-in-out duration-300;
  }

  .mainNavLinks {
    @apply text-primarymedium hover:bg-secondaryMedium hover:text-light-2 focus:shadow-violet7  flex select-none items-center justify-between gap-[2px] mb-1 rounded-[4px] px-3 py-2 text-[15px] leading-none outline-none focus:shadow-[0_0_0_2px] font-bold capitalize;
  }

  .subNav {
    @apply bg-slate-100 text-gray-600;
  }
  .mainNav {
    @apply bg-primayColor text-gray-300 py-4 px-6;
  }
  .navbarLinks {
    @apply px-2 flex text-xs font-bold hover:text-secondaryColor transition-all;
  }
  .slider {
    @apply bg-primayColor text-gray-300 relative;
  }
}
