.heroSlider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  padding-top: 160px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.sliderDesign {
  position: absolute;
  right: 0;
  height: 40%;
  bottom: 0;
}
.sliderDesign img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.heroBackground {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.heroBackground img {
  width: 100%;
  z-index: 1;
}

.sliderContainer {
  padding: 3rem 1rem;
  z-index: 2;
  width: 100%;
}
.sliderContent {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 4rem;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .heroSlider {
    padding-top: 100px;
  }
  .sliderContent {
    padding-top: 1rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .sliderContent {
    max-width: 100%;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .sliderContent h1 {
    font-size: 2rem;
  }
}
