.mainNav {
  position: relative;
}
.navContent {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo {
  padding-top: 1rem;
}

.mainNavLinksHolder {
  margin-left: auto;
}

.mainNavLinksHolder .onlyMobile {
  display: none;
}

.mainNavLinks {
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.2rem;
}
.mainNavLinks:hover {
  background-color: rgba(23, 16, 94, 0.135);
}

.innerMainNavLink {
  padding: 0.5rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.25rem;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
}
.innerMainNavLink svg {
  margin-left: 0.2rem;
  right: 0;
  transition: all 0.3s ease-in-out;
  font-size: 0.7rem;
}

.mainLinkMenu {
  min-height: 40vh;
  max-height: 50vh;
  position: absolute;
  left: 0;
  top: 100%;
  visibility: visible;
  width: 100%;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainNavLinksHolder:hover .mainLinkMenu {
  max-height: 1000px;
  -webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.mainLinkMenu::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: rgba(23, 16, 94, 0.135);
  border-radius: 15px 15px 0px 0px;
}

.mainNavLinks ul {
  position: absolute;
  min-height: 10vh;
  max-height: 50vh;
  overflow-y: scroll;
  left: 0;
  width: 100%;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  opacity: 0;
  padding: 2rem 1.5rem;
  padding-left: 6rem;
  padding-top: 3rem;

  animation: slideOutLeft 0.3s ease-in-out forwards;
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(5%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-5%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.mainNavLinks ul li a {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  color: #4b5563;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.mainNavLinks ul li a:hover {
  color: #f06829;
}

.mainNavLinks ul li a svg {
  margin-right: 0.8rem;
  font-size: 1.7rem;
}
.extraMainMenu {
  display: flex;
}

.navbarCart {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  padding-left: 0.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.cartCount {
  position: absolute;
  font-size: 0.75rem;
  top: 0;
  right: 0;
  height: 1rem;
  width: 1rem;
  background-color: #16105e;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounceIn 0.3s ease-in-out forwards;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbarCart:hover {
  background-color: rgba(23, 16, 94, 0.135);
}

.mobileCart {
  display: none;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .mainNavLinksHolder {
    padding-left: 1rem;
  }
  .mainNavLinks {
    padding-left: 0rem;
  }
  .navbarCart {
    font-size: 1.4rem;
    margin: 0.2rem;
  }
}
@media (min-width: 992px) {
  .mainNavLinks:hover ul {
    display: grid;
    animation: slideInLeft 0.3s ease-in-out forwards;
  }
  .mainNavLinks:hover .innerMainNavLink svg {
    transform: rotate(180deg);
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .navContent {
    justify-content: space-between;
    align-items: center !important;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
  }
  .navLogo {
    width: 150px;
  }
  .mobileMenu {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .mobileMenu:hover {
    background-color: rgba(23, 16, 94, 0.135);
  }
  .mobileMenuIcon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #16105e;
    transition: all 0.3s ease-in-out;
  }

  .mobileMenuIconActive span:nth-of-type(1) {
    transform: rotate(45deg) translate(5px, 4px);
  }
  .mobileMenuIconActive span:nth-of-type(2) {
    opacity: 0;
  }
  .mobileMenuIconActive span:nth-of-type(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }

  .mainNavLinksHolder {
    padding-top: 1rem;
    padding-right: 0rem;
    padding-left: 0rem;
    position: absolute;
    flex-direction: column;
    top: 100%;
    width: 100%;
    background-color: rgb(241, 245, 249);
    left: -100%;
    transition: all 0.25s cubic-bezier(0.18, 0.66, 0.78, 0.71);
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .mainNavLinksHolder:hover .mainLinkMenu {
    display: none;
  }
  .mainNavLinksHolder .onlyMobile {
    display: block;
    margin-bottom: 5rem;
  }

  .mainNavLinksHolder li {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mainNavLinksHolderActive {
    left: 0;
    height: calc(100vh - 80px);
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  }

  .mainNavLinksHolder::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(23, 16, 94, 0.135);
    border-radius: 15px 15px 0px 0px;
  }

  .innerMainNavLink svg {
    font-size: 1.1rem;
  }
  .mainNavLinks ul {
    position: relative;
    padding-left: 1rem;
    max-height: fit-content;
  }
  .mainNavLinks ul li a svg {
    font-size: 1.3rem;
  }
  .extraMainMenu {
    display: none;
  }

  .mobileCart {
    display: block;
  }
  .mobileCart ul {
    margin-left: auto;
    display: flex;
  }
  .iconsMobileMenu {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    margin-top: 1.2rem;
    padding-bottom: 3rem;
    position: relative;
  }
  .iconsMobileMenu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(23, 16, 94, 0.135);
    border-radius: 15px 15px 0px 0px;
  }

  .iconsMobileMenu a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  .iconsMobileMenu a:hover {
    color: #f06829;
  }

  .iconsMobileMenu svg {
    font-size: 2rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .mainNavLinks ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .mainNavLinksHolderActive {
    height: calc(100vh - 60px);
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .mainNavLinks ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainNavLinks ul li a svg {
    font-size: 1.1rem;
  }
}
