.pageHeight {
  min-height: 100vh;
  padding-top: 160px;
  padding-bottom: 3rem;
  background-image: url("/static/media/backgrounds/pagebackground.png");
}

.login {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  display: flex;
  padding: 2rem 0rem;
  margin-right: auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 3rem;
}

.userInputs {
  width: 60%;
  padding: 1rem;
  padding-left: 2rem;
}

.information {
  width: 40%;
  border-left: 1px solid #e0e0e0;
  padding: 1rem;
}
.information ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}
