.pageHeight {
  min-height: 50vh;
  padding-top: 130px;
  padding-bottom: 3rem;
}

.checkout {
  width: 100%;
}

.checkoutHeader {
  height: 100px;
  padding: 1.5rem 2rem;
  background-color: #f1f5f9;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}

.checkoutSections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkoutStartPart,
.checkoutEndPart {
  padding: 2rem 0rem;
}

.checkoutEndPart {
  position: sticky;
}

.checkoutStartPart {
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
}

.checkoutStartPartInner {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0rem 1rem;
  padding-right: 2rem;
}

.payments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payments a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 170px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.payments a:hover {
  opacity: 0.86;
}

.payments .shoppay {
  background-color: #3911ed;
}
.payments .shoppay img {
  filter: invert(100%) sepia(0%) saturate(0) hue-rotate(321deg) brightness(119%)
    contrast(130%);
}

.payments .paypal {
  background-color: #e6aa19;
}
.payments .googlepay {
  background-color: rgb(181 185 199);
}

.payments .shoppay svg {
  fill: #fff;
}

.paymentsContainer h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  position: relative;
}

.paymentsContainer h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 45%;
  height: 1px;
  background-color: #e6e6e6;
}

.paymentsContainer h3::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 45%;
  height: 1px;
  background-color: #e6e6e6;
}
