.pageHeight {
  min-height: 50vh;
  padding-top: 130px;
  padding-bottom: 3rem;
}

.checkout {
  width: 100%;
}

.checkoutHeader {
  height: 100px;
  padding: 1.5rem 2rem;
  background-color: #f1f5f9;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 1px solid #e6e6e6;
}

.checkoutSections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.checkoutStartPart,
.checkoutEndPart {
  padding: 2rem 0rem;
}

.checkoutEndPart {
  position: sticky;
}

.checkoutStartPart {
  background-color: #fff;
}

.checkoutStartPartInner {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 0rem 1rem;
  padding-right: 2rem;
}

.payments {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.payments div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 170px;
  border-radius: 5px;
  margin-left: 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}
.payments div:hover {
  opacity: 0.86;
}

.payments .shoppay {
  background-color: #3911ed;
}
.payments .shoppay img {
  filter: invert(100%) sepia(0%) saturate(0) hue-rotate(321deg) brightness(119%)
    contrast(130%);
}

.payments .paypal {
  background-color: #e6aa19;
}
.payments .googlepay {
  background-color: rgb(181 185 199);
}

.payments .shoppay svg {
  fill: #fff;
}
