.pageHeight {
  min-height: 50vh;
  padding-top: 130px;
  padding-bottom: 3rem;
}

.newProduct {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  padding: 2rem;
  margin-right: auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.newProduct h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: start;
  padding-left: 1.5rem;
}

.form {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #656496;
}
.form h6 {
  font-size: 0.95rem;
  font-weight: 600;
  text-align: start;
  color: #4c4987;
}

.form .left {
  width: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.form .right {
  width: 40%;
  padding-left: 1rem;
  padding-right: 0rem;
}

.segment {
  border: 2px solid #9e9e9e34;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.formGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.formChecks {
  flex-direction: row;
}
.formChecks label {
  margin-left: 1rem;
}
.formChecks input[type="checkbox"] {
  height: 25px;
  width: 25px;
  border: 2px solid #ccc;
}
.formChecks input:checked {
  accent-color: #4c4987;
}
.formChecks input .formGroup label {
  font-weight: 500;
}
.formGroup input,
.formGroup select {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  font-size: 0.85rem;
}
.formGroup select option {
  font-size: 0.85rem;
  padding-bottom: 0.3rem;
  background-color: #fff;
}

.form .textEditor {
  height: 300px;
}

.productsHeader {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 3;
  background-color: #f1f5f9;
  padding: 1rem 2rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  height: 100px;
  width: 100%;
  margin-top: -20px;
}
.priceFilters {
  display: flex;
  align-items: center;
}
.priceFilters p {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.openFilter {
  display: none;
}
.productsContainer {
  padding-top: 5rem;
  display: flex;
  position: relative;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem 1rem;
}

.ProductListItem {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.ProductListItem:hover {
  border: 2px solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.productListItemNew {
  right: -0.5rem;
  top: -0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  height: 55px;
  width: 55px;
  background-color: #c4000090;
  font-size: 0.8rem;
  font-weight: 600;
}
.productListItemRefurb {
  background-color: #40815f9e;
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}

.productImage img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.productListItemBottom {
  display: block;
}

.productListItemBottom button {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}
.productListItemBottom button:hover {
  background-color: #4c4987;
  color: #fff;
  border-color: #4c4987;
}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .productsContainer {
    padding-top: 5rem;
  }
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
  .pageHeight {
    padding-top: 116px;
  }
  .priceFilters {
    display: none;
  }

  .openFilter {
    display: flex;
    align-items: center;
  }
  .openFilter .filterIcon {
    margin-left: 0.5rem;
    font-size: 1.4rem;
    color: #fff;
    height: 35px;
    width: 35px;
    background-color: #4c4987;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
  }
  .openFilter .filterIcon:hover {
    background-color: #16105e;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .pageHeight {
    padding-top: 66px;
  }
  .productsContainer {
    padding-top: 5rem;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .productList {
    grid-template-columns: repeat(1, 1fr);
  }
  .productsHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    background-color: #f1f5f9;
    padding: 1rem 2rem;
    overflow: hidden;
    height: 85px;
    width: 100%;
  }
}
