.pageHeight {
  min-height: 50vh;
  padding-top: 160px;
  padding-bottom: 3rem;
}

.servicesHolder {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}

.leftMenu {
  min-width: 320px;
  width: 320px;
  margin-right: 2rem;
  flex-grow: 1;
  position: sticky;
  overflow-y: scroll;
  max-height: calc(100vh - 160px);
  padding-right: 1rem;
  top: 160px;
  padding-bottom: 3rem;
}
.leftMenu h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  text-transform: uppercase;
}
.leftMenu ul {
  padding-top: 1rem;
  list-style: none;
  margin: 0;
}
.leftMenu ul li {
  font-weight: 600;
  margin-bottom: 0.2rem;
  border-radius: 0px 15px 15px 0px;
  text-transform: capitalize;
  transition: background-color 0.15s ease-in;
}
.leftMenu ul li a {
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
}
.leftMenu ul li a svg {
  margin-left: auto;
}

.content {
  padding: 1rem;
  flex-grow: 2;
  font-size: 0.9rem;
  padding-right: 3rem;
}

.intro {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 1.5rem;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.intro h1 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.intro .leftContent {
  width: 40%;
}

.intro .rightContent {
  width: 60%;
  padding-left: 2rem;
}

.listDivs {
  padding: 3rem 0rem;
  padding-top: 4rem;
}
.listDivs h2 {
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-align: start;
}

.listDivs ul {
  padding-left: 0rem;
  list-style: none;
}

.listDivs ul li {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  margin-bottom: 0.9rem;
  padding: 1rem 1.5rem;
  font-size: 0.85rem;
  width: 100%;
  border-radius: 10px;
  position: relative;
  padding-left: 3rem;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.listDivs ul li span {
  display: block;
}

.listDivs ul li svg {
  position: absolute;
  font-size: 1.5rem;
  color: #f06829;
  display: block;
  margin-right: 1rem;
  left: 1rem;
}
.innerList {
  padding-top: 1rem;
  padding-left: 1rem !important;
  list-style: circle !important;
}
.innerList li {
  background-color: transparent !important;
  padding: 0.2rem 0.5rem !important;
  background-color: #4c4987 !important;
  color: aliceblue;
}

.category {
  display: flex;
  flex-direction: column;
}

.category h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-align: start;
}
.category div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.category article {
  font-size: 0.85rem;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  width: 250px;
  padding: 1.2rem 0.8rem;
  background-color: #656496;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 0.5rem 1rem;
  border: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  padding-left: 2rem;
  position: relative;
}

.category article:hover {
  transform: scale(1.01);
  border: 1px solid #656496;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.category article svg {
  position: absolute;
  font-size: 1rem;
  top: 0.5rem;
  left: 0.5rem;
}

.networkSystem h2 {
  padding-bottom: 0rem;
}

.networkSystem ul li {
  background-color: #4c4987;
}

.prices {
  background-color: #4c4987;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.priceInfo {
  flex-grow: 2;
  width: 70%;
}
.prices p {
  color: #fff;
  margin-right: 1.5rem;
}

.cloudPrices {
  background-color: #fff;
  height: 150px;
  width: 150px;
  padding: 1rem;
  border-radius: 50%;
  position: relative;
}

.ComputerRepair {
  padding-top: 1rem;
}

.signageTypes {
  padding-top: 3rem;
}

.signageTypes h3 {
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.signageTypes div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.signageTypes div article {
  border-radius: 15px;
  font-size: 0.85rem;
  padding: 1rem;
}

.signageTypes div h6 {
  font-weight: bold;
  text-transform: uppercase;
}

.signageTypes article img {
  justify-self: flex-end;
}
.table {
  width: 100% !important;
  overflow-x: scroll;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
.table table {
  width: 100% !important;
  overflow-x: scroll;
}

.table thead {
  background-color: #4c4987;
  color: #fff;
  padding: 0.2rem 0.5rem;
}
.table thead th {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-left: 1px solid #fff;
  text-align: start;
}
.table thead th:first-child {
  border-radius: 15px 0px 0px 0px;
  min-width: 300px;
  border-right: 1px solid #fff;
}
.table thead th:last-child {
  border-radius: 0px 15px 0px 0px;
  border-left: none;
  border-left: 1px solid #fff;
}

.table tbody {
  background-color: #fff;
  color: #4c4987;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0px 0px 15px 15px;
}

.table tbody tr {
  border-bottom: 2px solid #b4b3bd;
}

.table tbody tr td {
  padding: 01rem;
  padding-top: 1.3rem;
  padding-bottom: 0.2rem;
  border-left: 2px solid #dadee2;
}
.table tbody tr td:first-child {
  border-left: none;
  border-radius: 0px 0px 0px 15px;
}
.table tbody tr td:last-child {
  border-radius: 0px 0px 15px 0px;
}
